// Colours
$backgroundColour:#121212;
$primaryColour: #00b6ade1;
$grey:rgba(107, 107, 107, 0.342);
$darkGrey:rgba(43, 43, 43, 0.404);

$linearPrimary: linear-gradient(180deg $primaryColour #fff);
//Sizes
$edgeSize: .5em;