@use "./body" as body;
@import "../abstracts/all";
body{
    @extend body;   
}


@media screen and (min-width:751px) {
    
    .grid_item{
        padding:0;
        margin:0;
    }
    .mainGridLayout{
        display: grid;
        grid-template-columns: repeat(10, 5vw);
        grid-template-rows:  repeat(10, 9.76vh);
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .header{
        grid-column: 4/20;
    }

    .nav{
        grid-column: 1/4;
        grid-row: 1/11;
        border-right: $primaryColour solid ;
    }

    .main{
        grid-column: 4/20;
        grid-row: 2/11;
    }
}

@media screen and (max-width: 750px){
    .grid_item{
        padding:0;
        margin:0;
    }
    .mainGridLayout{
        display: grid;
        grid-template-columns: repeat(100, 1fr);
        grid-template-rows:  repeat(10, 9vh);
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .header{
        grid-column: 1/101;
        grid-row: 1;
        background-color: aqua;
    }
    .main{
        grid-column: 1/101;
        grid-row: 2/10;
        background-color: green;
    }
    .nav{
        grid-row: 10/11;
        grid-column: 1/101;
        background-color: $darkGrey;
        
    }
}